__pycache__
.DS_Store
Accident_Detection/test/arc/
Accident_Detection/train/arc/
Accident_Detection/Anticipating-Accidents/dataset/
Accident_Detection/Anticipating-Accidents/.DS_Store
SSD/test/
SSD/train/
SSD/ssd_training/
Accindet_Detection/*.asv
SSD/ssd_training/
SSD/test_ssd/
