__pycache__
.DS_Store
test/arc/
train/arc/
Anticipating-Accidents/dataset/
Anticipating-Accidents/.DS_Store
test/testing_videos/
test/testing_features/
train/training_features/
train/training_videos/
*.asv